@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(../Images/Rainy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hamburger{
    left: 95%;
    top: 5.5%;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.display{
    display: none;
}

#other-options{
    background-color: rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5px);
}

input[type="text"]{
    margin-top: 30px;
    width: 25rem;
    font-size: 1.5rem;
    padding-bottom: 2px;
    padding-left: 4px;
    border-bottom: 1px solid white;
    margin-left: 5px;
    color: white;
}

input[type="text"]:focus{
    outline: none;
}

#search-btn{
    left: 80%;
    top: 1%;
}

/* Optimizing for different screens */

@media screen and (orientation: portrait){
    #other-options{
        width: 28rem;
    }

    #weather-information{
        padding: 2rem;
        padding-bottom: 0;
    }
    
    #temperature{
        font-size: 5rem;
    }

    #location{
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .other-details{
        font-size: .9rem;
    }

    #weather-logo{
        font-size: 2.75rem;
    }

    #weather-note{
        margin-left: .25rem;
    }
}

@media (min-width:1190px) and (max-width:2000px) {
    #temperature{
        font-size: 6.75rem;
    }

    #weather-information{
        padding: 2rem;
        padding-bottom: 0;
    }

    #weather-logo{
        font-size: 3rem;
    }

    #other-options{
        width: 35rem;
    }

    #other-details h2{
        font-size: 2rem;
    }
}

@media screen and (min-width:875px) and (max-width:1399px){
    #temperature{
        font-size: 5.75rem;
    }

    #weather-information{
        padding: 1rem;
        padding-bottom: 0;
    }

    #other-options{
        width: 25rem;
    }

    #location-search{
        width: 10rem;
        font-size: 1rem;
    }
}

@media screen and (max-width:870px) {
    #other-options{
        display: none;
    }

    #hamburger{
        display: inline;
    }

    #temperature{
        font-size: 4.75rem;
    }

    #weather-information{
        padding: 2rem;
        padding-bottom: 0;
    }
}